.wrapSelected_Total {
  display:flex;
  justify-content: space-between;
}
.total_yarn{
  margin: 24px 0 0 0;
 }
.close-modal {
  float: right;
  background-color: #fff;
  border: none;
  margin-top: -30px;
  margin-right: -30px;
  cursor: pointer;
}

.modal-add-yarn {
  position: fixed;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  max-width: 768px;
  background-color: #fff;
  width: 100%;
}

.modal-add-yarn__body {
  font-family: "Ubuntu", sans-serif;
}

.modal-add-yarn__title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #2C2C2C;
}

.grid-wrapper {
  margin-top: 38px;
  display: grid;
  grid-template-columns: 112px minmax(64px, 100px) 1fr;
  align-items: center;
  align-content: center;
  grid-column-gap: 12px;
  grid-template-rows: auto;
}

.modal-add-yarn__subtitle-bold {
  display: inline-block;
  margin-right: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #2C2C2C;
}

.modal-add-yarn__count-yarn {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #858585;
  margin-right: auto;
}

.modal-add-yarn__count-selected {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  justify-self: end;

  span {

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 140%;
    color: #C83F51;
  }
}

.search-svg {
  position: absolute;
  top: 33px;
  right: 16px;
}

.modal-add-yarn__search {
  margin-top: 18px;
  display: inline-block;
  width: 100%;
  padding: 16px 14px;
  background: #FFFFFF;
  border: 1px solid #B6B6B6;
  box-sizing: border-box;
  border-radius: 10px;
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  color: #828282;

  &:focus {
    border: 1px solid #E939C2;
    outline: none;

    & + .search-svg path {
      fill: #E939C2;
    }
  }
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }


.wrap-search {
  max-width: 430px;
  position: relative;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-checkbox + label::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #EEEEEE;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  margin-left: auto;
}
.custom-checkbox:hover + label::after{
  content: '';
  display: inline-block;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #24ca44;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  margin-left: auto;
}

.custom-checkbox:checked + label::after {
  border-color: #2CC372;
  background-color: #2CC372;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.34696L5.17714 9L11 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.custom-checkbox:checked + label {
  outline: 2px solid #2CC472;
  box-shadow: none;
}

/* стили при наведении курсора на checkbox */
//.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
//  border-color: #b3d7ff;
//}
/* стили для активного состояния чекбокса (при нажатии на него) */
//.custom-checkbox:not(:disabled):active+label::before {
//  background-color: #b3d7ff;
//  border-color: #b3d7ff;
//}
/* стили для чекбокса, находящегося в фокусе */
//.custom-checkbox:focus+label::before {
//  box-shadow: 0 0 0 0.2rem rgba(46, 135, 224, 0.25);
//}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
//.custom-checkbox:focus:not(:checked)+label::before {
//  border-color: #80bdff;
//}
/* стили для чекбокса, находящегося в состоянии disabled */
//.custom-checkbox:disabled+label::before {
//  background-color: #e9ecef;
//}


.modal-add-yarn__wrapper-yarn {
  padding: 16px 20px;
}

.yarn-item {
  height: 68px;
  margin: 4px 0;
  cursor: pointer;
  width: 100%;
  padding: 8px 32px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
  border-radius: 5px;

  &:hover {
    z-index: 10000;
    border: 1px solid #EEEEEE;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.75' y='0.75' width='16.5' height='16.5' rx='1.25' stroke='%23EEEEEE' stroke-width='1.5'/%3E%3Crect x='0.5' y='0.5' width='17' height='17' rx='1.5' stroke='%230AB85A' stroke-opacity='0.8'/%3E%3Cpath d='M3 8.02044L8.01257 15L15 3' stroke='%230AB85A' stroke-opacity='0.8' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 39px center;
  }
  &:active:after{
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #1abf56;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    margin-left: auto;
    background-color: #2CC372;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 4.34696L5.17714 9L11 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  &:active {
    outline:solid 2px #2CC372;
  }
}

.check-yarn-wrapper {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #000000;
}
.save-yarn {
  cursor: pointer;
  margin-top: 17px;
  width: 186px;
  height: 32px;
  background: #FFFFFF;
  border: 2px solid #C83F51;
  box-sizing: border-box;
  border-radius: 5px;
  &:hover {
    background-color: #C83F51;
    .btn-text {
      color: #fff;
    }

  }
}

.btn-text {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #C83F51;
}

.aria-list {
  position: relative;
  max-height: 736px;
  margin: 0 -20px;
  padding: 0 20px 0 22px;
  margin-top: 10px;
  & > div {
    width: 416px;
  }
}
.scrollBar-yarn-OnPage {
  position: relative;
  max-height: 736px;
  margin: 0 -20px 0 -20px;
  padding: 0 20px 0;
  margin-top: 10px;
  & > div {
    width: 416px;
  }
}
div.ps__rail-y {
  width: 4px !important;
  height: 68px;
  position: absolute;
  top: 200px;
  right: 10px;
  z-index: 10000;
  border-radius: 0 !important;
  background-color: transparent;
}
.ps--active-y > .ps__rail-y {
  display: block;
  background-color:#EEEEEE;
}
.ps:hover > .ps__rail-x, .ps:hover > .ps__rail-y, .ps--focus > .ps__rail-x, .ps--focus > .ps__rail-y, .ps--scrolling-x > .ps__rail-x, .ps--scrolling-y > .ps__rail-y {
  opacity: 1;
  width: 4px;
  border-radius: 0;
}
.ps__rail-y:hover > .ps__thumb-y, .ps__rail-y:focus > .ps__thumb-y {
  background-color:  #B6B6B6;
}
.ps__thumb-y {
  width: 4px;
  right: 0;
}
.remove-data-input {
  cursor: pointer;
  font-size: 0;
  position: absolute;
  right: 20px;
  top: 50%;
}


