.main-contest-my-works-personal-profile-aside__avatar {
  border-radius: 5px;
  overflow: hidden;
}
.main-contest-my-works-personal-profile-aside__avatar picture {
  min-height: 154px;
  min-width: 154px;
}
