.winnersWrap {
  margin: 32px 0 15px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  max-width: 1172px;
  min-height: 500px;
}
@media screen and (max-width: 1000px){
  .winnersWrap {
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }
}@media screen and (max-width: 667px){
  .winnersWrap {
    grid-template-columns: 1fr;
    grid-gap: 16px;
    justify-items: center;
  }
}
