.add-link-for-social{
  max-width: 540px;
  margin: 0 -15px;
  padding: 0 18px;
}
#add-link-for-social__input {
  padding: 12px 16px;
  width:100%;
  font-family: "Ubuntu",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 140%;
  color: #000000;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
  &:hover {
    border: 1px solid #993182;
    &::placeholder {
      color:#993182;
    }
  }
  &:focus {
    outline: 1px solid #E939C2;;
  }
  &:invalid{
    border: 1px solid #C83F51;
  }
}
#add-link-for-social__input::placeholder{
  color:#858585;
  opacity: 1;
}
