.main-contest-my-works-personal-profile-aside__name {
  margin: 16px 0px 0px 0px;
  font-family: "Ubuntu",sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #000000; }
.main-contest-my-works-personal-profile-aside__first-name, .main-contest-my-works-personal-profile-aside__last-name {
  display: block;
}
