/* styles for '...' */
.descriptionCard {
  font-size: 14px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #2C2C2C;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 1.31em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: 0;
  padding-right: 1em;
    &:before {
    /* points in the end */
    content: '...';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of block */
    right: 0;
    bottom: 1px;
    z-index: 1;
    }
    /* hide ... if we have text, which is less than or equal to max lines */

    &.first{
        &:after{
            background-color: #feec86;
        }
    }
    &.second{
        &:after{
            background-color: #e0e0e0;
        }
    }
    &.third{
        &:after{
            background-color: #ffd6b1;
        }
    }

}
.descriptionCard:after {
    /* points in the end */
    content: '';
    /* absolute position */
    position: absolute;
    /* set position to right bottom corner of text */
    right: 0;
    /* set width and height */
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    z-index: 1;
    /* bg color = bg color under block */
    background: white;
}
/* create the ... */

