
.tooltip_lk {
  height: 30px;
  position: relative;
  display: inline-block;
  margin-left: auto;
}
.tooltip_lk-content{
  position: absolute;left: 50%;
  visibility: hidden;
  &:after {
    content: "";
    position: absolute;
    z-index: 5000;
    bottom: 22px;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: white transparent transparent transparent;
    filter: drop-shadow(0.5px 0.5px 0px rgba(0,0,0,.5));
    @media screen and (max-width: 858px){
        transform:translate(-18px, 16px) rotate(265deg);
    }
  }

}
.tooltip_lk-content__wrap{
  width: 154px;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 5px rgba(221, 221, 221, 0.5);
  position: absolute;
  top: -134px;
  transform: translateX(-50%);
  z-index: 10;
    @media screen and (max-width: 858px){
         transform: translate(-117%, 70%);
    }
}
.tooltip_lk-content_btn{
  cursor: pointer;
  margin: 18px 16px;
  display: flex;
  align-items: center;
  &:hover {
    .tooltip_lk-content_text {
      color: #000;
    }
    .sd path{
      stroke:black;
    }
  }
  & > span span{
    height: 16px;
  }
}
.tooltip_lk-content_text{
  margin-left: 8px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  align-items: center;
  letter-spacing: -0.025em;
  color: #7F7F7F;
}
.tooltip_arrow {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
}
.edit_card {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;

  &:hover {
    background: #FFEEF0;
    border-radius: 3px;
  }
  &:focus {
    background: #FFEEF0;
    border-radius: 3px;
  }
}
.edit_card_dots {
  display: inline-block;
  width: 4px;
  height: 4px;
  background: #858585;
  margin-right: 5px;
  border-radius: 50%;
  &:last-of-type {
    margin-right: 0;
  }
}
