.main-training-contest-work-left-side__link-text {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  color: #3F7EC9;
  margin-left: 2px;
}
