.main-contest-my-works-personal-profile-aside__change-profile-link {
  display: flex;
  align-items: center;
  margin: 14px 0px 0px 0px;
  line-height: 150%;
  color: #3F7EC9;
}
.change-profile-text {
  padding-left: 8px; }
