.contest-work-initial__text-step2 {
  display: grid;
  margin: 45px 85px 0px 0px; }

.step-text-number__title--second {
  display: flex;
  align-items: center;
  svg {
    width: 160px;
  }
}
.grey-svg-step {
  margin-left: 10px;
}
